.pages-layout {
  height: 100%;

  .ant-layout-header {
    height: 80px;
    padding: 0;
    background-color: #ffffff;
    width: 100%;

    .pages-header {
      height: 100% !important;
      display: flex;
      align-items: center;

      .pages-header__logo {
        margin-left: 56px;
      }
    }
  }

  .ant-layout-content {
    overflow-y: auto;
  }
}

@media screen and (max-width: 576px) {
  .pages-header__logo {
    margin-left: 16px !important;
  }

  .ant-layout-header {
    height: 56px !important;
  }
}
