* {
  text-rendering: optimizeLegibility;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@for $i from 1 through 100 {
  .mt-#{$i}-px {
    margin-top: #{($i) + 'px'} !important;
  }
  .fs-#{$i}-px {
    font-size: #{($i) + 'px'} !important;
  }
}

.origin-input-group {
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  font-size: 24px;
  height: 56px;
  border: 1px solid #e9eef2;
  border-radius: 4px;

  .ant-input-prefix {
    color: #cbd5dc;
    margin-left: 5px;
  }

  input {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #4d6475;
    margin-left: 10px;
  }
}

.origin-date-picker {
  border: 1px solid #e9eef2;
  border-radius: 4px;
  height: 56px;
}

.cursor-pointer {
  cursor: pointer;
}
