<div class="saving-plan-detail">
  <div [innerHTML]="'SAVING_PLAN_DETAIL.WELCOME' | translate" class="detail__welcome"></div>
  <div class="detail__block">
    <div class="d-flex">
      <div>
        <svg-icon src="assets/svg-icon/house.svg"></svg-icon>
      </div>
      <div class="ms-3 d-flex flex-column">
        <div class="detail__block--name">
          {{ 'SAVING_PLAN_DETAIL.BUY_HOUSE' | translate }}
        </div>
        <div class="detail__block--name-tag">
          {{ 'SAVING_PLAN_DETAIL.SAVING_GOAL' | translate }}
        </div>
      </div>
    </div>

    <div class="row detail__input">
      <div class="col-sm-7">
        <span>{{ 'SAVING_PLAN_DETAIL.TOTAL_AMOUNT' | translate }}</span>
        <nz-input-group class="mt-4-px origin-input-group" nzPrefix="{{ savingPlan.currencySymbol }}">
          <input
            (inputValueChange)="onChangeAmount($event)"
            [(inputValue)]="savingPlan.amount"
            class="amount"
            id="amount"
            inputmode="numeric"
            moneyNumberOnly
            nz-input
            type="text"
          />
        </nz-input-group>
      </div>
      <div class="col-sm-5 detail__reach-date">
        <span>{{ 'SAVING_PLAN_DETAIL.REACH_DATE' | translate }}</span>
        <div [class.focus]="isReachDateChosenFocus" class="detail__reach-date--chosen" id="reach-date-chosen">
          <div
            (click)="onChangeMonth(-1)"
            [class.change-month-disabled]="isChangeMonthDisabled"
            class="d-flex align-items-center cursor-pointer"
          >
            <span class="reach-date__arrow-icon" nz-icon nzTheme="outline" nzType="left"></span>
          </div>
          <div (click)="datePicker.open()" class="text-center cursor-pointer" id="reach-date-view">
            <div class="fw-bold">
              {{ savingPlan.reachDate | date : 'MMMM' }}
            </div>
            <div>{{ savingPlan.reachDate | date : 'y' }}</div>
          </div>
          <div (click)="onChangeMonth(1)" class="d-flex align-items-center cursor-pointer">
            <span class="reach-date__arrow-icon" nz-icon nzTheme="outline" nzType="right"></span>
          </div>

          <nz-date-picker
            #datePicker
            (ngModelChange)="onChangeReachDate($event)"
            [(ngModel)]="savingPlan.reachDate"
            [nzAllowClear]="false"
            [nzDisabledDate]="disabledDate"
            [nzFormat]="''"
            [nzInputReadOnly]="true"
            [nzSuffixIcon]="''"
            class="w-100 origin-date-picker"
            nzMode="month"
          ></nz-date-picker>
        </div>
      </div>
    </div>

    <div #detailMonthlyAmountElem class="detail__monthly-amount">
      <span class="monthly-amount__title">
        {{ 'SAVING_PLAN_DETAIL.MONTHLY_AMOUNT' | translate }}
      </span>
      <span #monthlyAmountValueElem [class.float-end]="!isBreakLine" class="monthly-amount__value">
        {{ savingPlan.monthlyAmount.toString() | formatMoney }}
      </span>
    </div>
    <div
      [innerHTML]="
        'SAVING_PLAN_DETAIL.DESCRIPTION'
          | translate
            : {
                monthTotal: savingPlan.monthTotal,
                amount: savingPlan.currencySymbol + (savingPlan.amount.toString() | formatMoney),
                reachDate: savingPlan.reachDate | date : 'MMMM y'
              }
      "
      class="detail__description"
    ></div>

    <div class="detail__action">
      <button (click)="onConfirm()">
        {{ 'SAVING_PLAN_DETAIL.CONFIRM' | translate }}
      </button>
    </div>
  </div>

  <nz-switch #hiddenDateSwitchElem [(ngModel)]="hiddenDateSwitch" class="hidden-date-switch"></nz-switch>
</div>
